<!doctype html>
<html ng-app="docsApp" ng-controller="DocsCtrl">
<head>
<title>Documentation</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
<!--<link rel="stylesheet" href="assets/angular-material.min.css">-->
<link rel="stylesheet" href="docs.css">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular-aria.min.js"></script>
<script src="assets/angular-animate.min.js"></script>
<script src="assets/hammer.min.js"></script>
<script src="assets/angular-material.min.js"></script>
<script src="docs.js"></script>
</head>
<body layout="horizontal">

  <material-sidenav layout="vertical" class="material-sidenav-left material-whiteframe-z3" component-id="left">

    <material-toolbar class="material-theme-light material-medium-tall">
      <h1 class="material-toolbar-tools">
        <a href="#" ng-click="goHome()">Aurora</a>
      </h1>
    </material-toolbar>

    <material-content flex>
      <div>

        <button class="menu-item menu-title active"
          ink-ripple>
          Modules
        </button>

        <button class="menu-item menu-sub-item"
          ng-repeat="module in modules"
          ng-class="{active: ctrl.activeModuleName === module.name}"
          ng-click="ctrl.setActive(module)"
          ink-ripple>
          <span ng-bind="module.name"></span>
        </button>

      </div>
    </material-content>

  </material-sidenav>

  <div layout="vertical" layout-fill tabIndex="-1" role="main">
    <material-toolbar class="material-theme-dark material-medium-tall app-toolbar">

      <div class="material-toolbar-tools" ng-click="toggleMenu()">
        <button class="menu-icon" hide-md aria-label="Toggle Menu">
          <material-icon icon="img/icons/ic_menu_24px.svg">
          </material-icon>
        </button>
        <h3 hide show-sm ng-if="menu.currentSection.name">
          {{menu.currentSection.name}}
        </h3>
        <span layout="vertical" layout-align="center center" class="menu-separator-icon"
          ng-show="menu.currentPage">
          <img style="height: 16px;" src="img/docArrow.png" alt="" aria-hidden="true" hide block-sm>
        </span>
        <h3 flex>
          <span ng-if="ctrl.activeModule.name">Modules ></span>
          <span ng-bind="ctrl.activeModule.name"></span>
        </h3>
      </div>

      <div class="material-toolbar-tools api-options-bar" 
        ng-if="currentDoc && currentDoc.docType === 'readme'">
        <span flex></span>
        <material-button
          ng-repeat="doc in menuDocs(currentComponent)"
          ng-href="#{{doc.url}}">
          <span ng-bind="'&lt;'+ (doc.humanName || doc.name) + '&gt;'"></span>
        </material-button>
      </div>

      <div class="material-toolbar-tools api-options-bar with-icon" 
        ng-if="currentDoc && currentDoc.docType !== 'readme'">
        <span flex></span>
        <material-button ng-href="#{{currentDoc.readmeUrl}}">
          <material-icon icon="/img/icons/ic_play_arrow_24px.svg"></material-icon>
          <span>View Demo</span>
        </material-button>
        <material-button ng-href="{{currentDoc.githubUrl}}">
          <material-icon icon="/img/icons/ic_launch_24px.svg"></material-icon>
          <span hide block-sm>View on Github</span>
          <span hide-sm>Source</span>
        </material-button>
        <material-button ng-href="{{currentDoc.githubEditUrl}}" hide show-sm>
          <material-icon icon="/img/icons/ic_launch_24px.svg"></material-icon>
          <span>Improve This Doc</span>
        </material-button>
      </div>

    </material-toolbar>

    <material-content ng-view scroll-y flex class="material-content-padding">
      <material-content>
        <material-tabs selected="ctrl.activeTab">
         <material-tab ng-repeat="item in ctrl.activeModule.children" label="Test{{child.name}}">
         </material-tab>
        </material-tabs>
      </material-content>
      <a  id="top"></a>


      <material-content>
        <material-list>
          <material-item ng-repeat="item in ctrl.activeModule.children" >
            <div>
              <p style="cursor:pointer;" ng-click="ctrl.goto(item.publicName)" ng-bind="item.publicName"></p>
            </div>
          </material-item>
        </material-list>

      </material-content>      

      <section ng-repeat="item in ctrl.activeModule.children"
               id="{{item.publicName}}"
               class="material-whiteframe-z2" >
        <material-toolbar ng-class="{
            'material-theme-light': item.type==='factory',
            'material-theme-red': item.type==='directive',
            'material-theme-light-blue': item.type==='service',
            'material-theme-dark': item.type==='provider',
            'material-theme-orange': item.type==='filter'
          }" class="material-theme-dark">
          <h2 class="material-toolbar-tools">
            <span ng-bind="item.publicName"></span>
            <!--<small ng-bind="item.name"></small>
            [<small ng-bind="item.type"></small>]-->
          </h2>
        </material-toolbar>



        <material-content class="material-content-padding"
                          style="margin-bottom:25px;">
          <span ng-if="item.type === 'factory' || item.type === 'service' || item.type === 'provider'">
            Inject via: <code ng-bind="item.publicName"></code>
          </span>

          <span ng-if="item.type === 'service'">
            <br>
            <br>
            Create new instance with <code> var x = new {{item.publicName}}()</code>
          </span>

          <div  ng-if="item.api.funcs.length || item.api.vars.length">
            <h3>API</h3>
            <p ng-repeat="func in item.api.funcs">
              <code-line func="func"></code-line>
            </p>
          </div>

          <div ng-if="item.internal.funcs.length || item.internal.vars.length">
            <h3>INTERNAL</h3>
            <p ng-repeat="func in item.internal.funcs">
              <code-line func="func"></code-line>
            </p> 
          </div>
        </material-content>   
      </section>


      <!--<br><br>
      <pre ng-bind="ctrl.activeModule | json"></pre>
      -->


    </ng-view>

  </div>


  <!-- TEMPLATES-->

  <script type="text/ng-template" id="codeLine.html">
    <span class="xcode">
      <span ng-if="func.parentObject && func.type==='class'">new {{func.parentObject}}.</span><!--
      --><span ng-if="func.parentObject && func.type==='function'">.</span><!--
      --><span ng-bind="func.name"></span><!--
      -->(<!--
      --><span ng-repeat="param in func.params"><!--
        --><span ng-class="{
          'var-primitive': param.type==='boolean' || 
                           param.type==='number' ||
                           param.type==='string',
          'var-function': param.type==='function',
          'var-object': param.type==='object',
          'var-array': param.type==='array'
          }" 
          ng-bind="param.name"
          title="{{param.desc}}"></span><!--
        --><span ng-if="!$last">, </span><!--
      --></span><!--
      -->)
    </span>
    <span ng-bind="func.comments.join(' ')"></span>
    <div ng-if="func.type==='class' && func.api" class="code-block">
      <p ng-repeat="subfunc in func.api.funcs">
        <span class="xcode">
          <span ng-if="subfunc.type==='function'">.</span><!--
          --><span ng-bind="subfunc.name"></span><!--
          -->(<!--
          --><span ng-repeat="param in subfunc.params"><!--
            --><span ng-class="{
              'var-primitive': param.type==='boolean' || 
                               param.type==='number' ||
                               param.type==='string',
              'var-function': param.type==='function',
              'var-object': param.type==='object',
              'var-array': param.type==='array'
              }" 
              ng-bind="param.name"
              title="{{param.desc}}"></span><!--
            --><span ng-if="!$last">, </span><!--
          --></span><!--
          -->)
        </span>
        <span ng-bind="subfunc.comments.join(' ')"></span>
      </p>
    </div>


  </script>
</body>
